body{
    background-color: chartreuse;
}

.jumbotron{
    font-size: 80px;
    color: fuchsia;
    background: blue;
    text-align: center;

}

.output{
    font-size: 30px;
    color: turquoise;
    background: red;
    text-align: center;
}

.mindreader, .wizard, .knowing{
    width: 100%;
    height: 100%;
}